html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #d05c2e;
  color: #fff;
}

img {
  width: 40px;
  display: flex;
}

header {
  display: flex;
  font-size: 2rem;
}

nav li{
  font-size: 1.125rem;
  text-decoration: none;
  display: flex;
  border: .5em solid #a63f38;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
